@charset "UTF-8";
@import "globals/variables";

/**************** Vendor *******************/
@import "../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";
@import "../../node_modules/font-awesome/scss/font-awesome";

@import "./globals/forms";
@import "./globals/footer";

@import "./partials/users-box";


html, body{
	height: 100%
}

body {
	background: $color-2;
	color: white;
}