doctype html
html
	head
		title= title
		link(rel='stylesheet', href='/css/main.css')
	body

		block content

		footer
			.container &copy; ExpressDev all rights are not reserved

		script(src='/js/main.js')

		block scripts
